html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #333;
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

input[type="range"] {
	height: 0;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

.center {
	text-align: center;
}

.inline-block {
	display: inline-block;
}

.flex {
	display: flex;
}

.flex-grow {
	flex-grow: 1;
}

.flexbox-container {
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
}

.flexbox-container > div {
    width: 50%;
    padding: 10px;
}

.raw-node {
	padding: 4px 0;
}

.configuration .indent {
	margin-left: 15px;
}

.tree {
	position: relative;
}

.tree:before {
    content: '';
    position: absolute;
    top: 5px;
    bottom: 15px;
    left: 2px;
	border-left: 1px dashed rgb(0, 80, 160);
    border-bottom: 1px dashed rgb(0, 80, 160);
	width: 5px;
}

.node-adder {
	margin: 0;
	margin-left: 15px;;
}

.configuration.yaml {
	position: relative;
}

.node-config {
	padding: 10px;
	background-color: #FFF;
}

.node-config-title {
	margin: 0;
	text-align: center;
	margin: 10px 0;
}

.node-config .config-form .config-row {
	padding: 5px 5px;
}

.node-config .config-form .config-row input[type="text"] {
	display: block;
	width: 100%;
}

#logos {
	position: fixed;
	top: 3%;
	left: 95%;
}

.modal,
.modal-background {
	z-index: 10;
}

#code-panel {
	position: relative;
}

.btn-copy {
	position: absolute;
    right: 2%;
    top: 6%;
}

#copy-message {
	background: #79cd79;
    padding: 16px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    position: absolute;
    top: 2%;
    right: 6%;
}

.svelte-highlight {
	margin: 0;
	border-radius: 10px;
}

.node-config .config-form .config-row input[type="text"].node-config-enum-value-adder {
	width: 78%;
	display: inline-block;
}

/* Checkboxes */
.node-config-checkbox-label {
    display: inline-block;
    background-color: #FFF;
    border: 2px solid #333;
    color: #333;
    border-radius: 25px;
    white-space: nowrap;
    margin: 3px 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all .2s;
    padding: 8px 12px;
    cursor: pointer;
}

.node-config-checkbox-label::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    padding: 2px 6px 2px 2px;
}

.node-config-checkbox:checked + label::before {
    content: "✔";
}

.node-config-checkbox:checked + label {
    border: 2px solid #1bdbf8;
    background-color: #12bbd4;
    color: #fff;
    transition: all .2s;
}

.node-config-checkbox {
  position: absolute;
  opacity: 0;
}

.node-config-enum-value-list {
	min-width: 20px;
	display: inline-block;
	background: #eaeaea;
	padding: 5px;
	border-radius: 5px;
	border: 1px solid #cacaca;
	margin-right: 5px;
}

/* Buttons */
.btn {
	color: #333;
    background-color: #f4f4f4;
    outline: none;
    border-radius: 10px;
    padding: 11px;
    width: 100px;
}

.btn-ok {
	background: #79cd79;
	font-weight: bold;
	color: #FFF;
}

.btn-cancel {
    background: #e34747;
    color: white;
}

.btn-cancel-config {
	float: right;
}

.btn-unstyled {
    background: none;
    border: none;
    padding: 0;
	margin: 0;
	cursor: pointer;
}

.btn-remove {
    background: white;
    border: 1px solid red;
    color: red;
    border-radius: 50%;
	padding: 0 4px;
	margin: 0;
    cursor: pointer;
}

.btn-remove:hover {
    box-shadow: 1px 0px 4px grey;
}

.btn-enum-remover {
	background: none;
	border: none;
	padding: 0;
	margin: 0;
    cursor: pointer;
}